<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div>
        <button
          class="navbar-toggler d-none d-md-inline-flex d-lg-none"
          type="button"
          data-toggle="collapse"
          data-target="#navbarsExample07"
          aria-controls="navbarsExample07"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <img src="./assets/icons/icon-menu.svg" alt="menu icon" />
        </button>
        <button
          class="navbar-toggler d-inline-flex d-md-none has-messages"
          type="button"
          data-toggle="modal"
          data-target="#xsMenuModal"
        >
          <img src="./assets/icons/icon-menu.svg" alt="menu icon" />
        </button>
        <a class="navbar-brand" routerLink=""><strong>NG-Shop</strong></a>
      </div>
      <a href="#" class="mobile-search-menu-icon"
        ><img src="./assets/icons/icon-search.svg" alt="menu icon"
      /></a>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="cart">
              <mat-icon class="cart-icon">shopping_cart </mat-icon>
              <span _ngcontent-c9="" class="button-counter">{{
                productCount$ | async
              }}</span>
            </a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- <span _ngcontent-c9="" class="header-actions__button-counter">3</span> -->
