<div class="container product-list">
  <div class="form-inline my-2 my-md-0 ml-lg-5" [formGroup]="filterForm">
    <div>
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
        formControlName="text"
      />
    </div>
    <app-categories *ngIf="categories$ | async as categories"
      [categories]="categories"
      formControlName="subcategory"
    ></app-categories>
    <button
      class="btn btn-outline-primary"
      (click)="getProducts(filterForm.value)"
    >
      Search
    </button>
  </div>

  <div>
    <div class="row homepage-cards">
      <ng-container *ngIf="products$ | async as products">
        <ng-container *ngFor="let product of products">
          <app-card
            [product]="product"
            class="products-list-product col-md-6 col-lg-4 mb-4"
          ></app-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
