<div class="container product-list">
  <div class="form-inline my-2 my-md-0 ml-lg-5" [formGroup]="filterForm">
    <div>
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Название товара"
        aria-label="Search"
        formControlName="text"
      />
    </div>
    <ng-shop-categories
      *ngIf="categories$ | async as categories"
      [categories]="categories"
      formControlName="subcategory"
    ></ng-shop-categories>
  </div>

  <ng-shop-carousel></ng-shop-carousel>

  <ng-shop-infinite-scroll (scrolled)="scroll($event)" *ngIf="products$ | async as products">
    <div class="row homepage-cards">
      <ng-container >
        <ng-container *ngFor="let product of products">
          <ng-shop-card
            [product]="product"
            (addToCart)="addProduct(product)"
            class="products-list-product col-md-6 col-lg-4 mb-4"
          ></ng-shop-card>
        </ng-container>
      </ng-container>
    </div>
  </ng-shop-infinite-scroll>
</div>
