<!-- <div *ngIf="products$ | async as products">
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let product of products">
      <app-card [product]="product"></app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
<div class="container product-list">
  <div>
    <h3 class="section-title">
      Top Recommendations For You |
      <a href="checkout.html">Your Cart</a>
    </h3>
    <div class="row homepage-cards">
      <ng-container *ngIf="products$ | async as products">
        <ng-container *ngFor="let product of products">
          <app-card
            [product]="product"
            class="products-list-product col-md-6 col-lg-4 mb-4"
          ></app-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
