
li
    margin: 15px 0
    list-style: none
.categories
    position: relative
    z-index: 1
    margin: 0 25px
    &-name
        padding: .375rem .75rem
        font-size: 1rem
        line-height: 1.5
        color: #495057
        background-color: #fff
        background-clip: padding-box
        border: 1px solid #ced4da
        border-radius: .25rem
        &:hover
            color: #fff
            background-color: #007bff
            border-color: #007bff
            cursor: pointer

    &-list
        position: absolute
        width: 400px
        top: 40px
        left: 0px
        z-index: 3
        background-color: #fff
        max-height: 200px
        overflow: auto
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3)
        border-radius: .25rem
        &-menu
            padding: 0
            margin: 10px 19px 5px 19px

            &-category
                margin: 0px 0px 7px 0
                color: #000
                font-weight: 600
                font-size: 16px
            &-sub

                padding-inline-start: 0!important
            &-subcategory
                margin: 0
                color: #000000c2
                background: #fff
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
                border-radius: 3px
                margin-bottom: 5px
                position: relative
                padding: 4px 0 4px 6px
                line-height: 26px
                &:hover
                    background-color: rgba(0, 123, 255, 0.2)
                    cursor: pointer
        &-all
            margin: 10px 19px
            color: #000000c2
            background: #fff
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
            border-radius: 3px
            margin-bottom: 5px
            position: relative
            padding: 4px 0 4px 6px
            line-height: 26px
            &:hover
                &:hover
                    background-color: rgba(0, 123, 255, 0.2)
                    cursor: pointer
.active
    background-color: rgba(0, 123, 255, 0.2)
