<!-- <div>
  {{ product$ | async | json }}
</div> -->
<div *ngIf="product$ | async as product">
  <div class="title">
    <a>{{ product.name }}</a>
  </div>
  <div class="one-product">
    <div class="one-product-description">
      <img
        class="one-product-description-img"
        src="../../../../assets/img/headphones.png"
      />
      <!-- {{ product.images }} -->
      <div class="one-product-description-descr">
        Описание
        <p>{{ product.description }}</p>
      </div>
    </div>
    <div class="one-product-block">
      <div class="one-product-block-price">
        € {{ product.price }}
        <button class="one-product-block-price-btn">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>
      <div class="one-product-block-comments">
        Отзывы покупателей
        <button class="one-product-block-comments-btn">Написать отзыв</button>
        <div class="one-product-block-comments-review">
          <p>Customer Name</p>
          <div class="one-product-block-comments-review-text">
            <div class="one-product-block-comments-review-text-stars">
              <div>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon class="grey-star">star_border</mat-icon>
              </div>
            </div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            <ul class="one-product-block-comments-review-text-pluses">
              Достоинства:
              <li>Lorem ipsum</li>
            </ul>
            <ul class="one-product-block-comments-review-text-minuses">
              Недостатки:
              <li>Lorem ipsum</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
