<div class="card">
  <div class="card-img-wrap">
    <img
      class="card-img-top"
      [src]="product.images | imgUrl"
      [alt]="product.name"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <a [routerLink]="[product._id]">
        {{ product.name }}
      </a>
    </h5>
    <div class="rate">
      <ng-shop-star-rating
        [feedbackRate]="product.rating | rate"
      ></ng-shop-star-rating>

      <span class="rate-amount ml-2"></span>
      <mat-icon class="product-add-to-cart" (click)="addProduct(product)"
        >add_shopping_cart</mat-icon
      >
    </div>

    <p class="card-text price-text">
      <strong>€ {{ product.price }}</strong>
    </p>
  </div>
</div>
